.header-item-card{
    width:auto;
    margin-top: 180px;
    margin-bottom: 60px;
}

.header-item-card h2{
    font-family: 'WindsorEF-ExtraBoldCondensed', Arial, sans-serif;
    font-size: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #153D3D;
}

.header-item-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #153D3D;
    
}

@media screen and (max-width: 768px) {
    .header-item-card {
        text-align: center;
    }
    .header-item-card h2{
    font-size: 100px;
    }
    .header-item-card p {
        font-size: 20px;
    }
}