.button{
    background-color: #153D3D;
    color: #fff;
    border-radius: 1.5rem;
    color:#FBF8F1 ;
    border: none;
    font-family: 'Ano-Regular';
    font-size: 1.2vw;
    padding: 0.6rem 1.2rem;
}

.button:hover{
    background-color: #fff;
    color: #153D3D;
}