
.container {
        background-color: #F7D5E5;
        width:100vw;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;       
}
.trademark{
 font-size: 5rem;
}
.shop-btn{
      width: 250px;  
      height: 55px;
      border-radius: 1.6rem;
      background-color:#153D3D;
      color:#FBF8F1 ;
      border: none;
      font-size: 28px;
      margin-top: 50px;
}

.hero-details h1 {
        font-size: 10rem;
        color: #153D3D;    
}

.hero-card {
      width: 45rem;
      background-color: #F86D42;
      border-radius: 50%;
      margin-right: 15rem;
      margin-top: 5rem;
    }

    .hero-img {
      transform: rotate(10deg);
      width: 100%;
      filter: drop-shadow( 0px 10px 10px rgba(0,0,0,0.5));
    }
    .hero-details {
      padding-left: 20px;
      margin-left: 15rem;
    }
@media screen and (max-width:1447px){
  
}
@media screen and (max-width: 1220px) {
  .hero-details h1 {
    font-size: 7rem;
  }
  .hero-img {
    width: 13rem;
  }
}

@media screen and (max-width: 600px) {
  .container{
   
  }
  .hero-card {
  }    
}

