
.container {
        background-color: #F7D5E5;
        width:100vw;
        height: 860px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
}

.shop-btn{
      width: 250px;  
      height: 55px;
      border-radius: 1.6rem;
      background-color:#153D3D;
      color:#FBF8F1 ;
      border: none;
      font-size: 28px;
      margin-top: 50px;
}

.hero-details h1 {
        width: 100%;
        font-size: 10rem;
        color: #153D3D;    
}

.hero-card {
      width: 40rem;
      height: auto;
      background-color: #F86D42;
      border-radius: 50%;
      display: flex;
      align-items: center;
    }

    .hero-img {
      transform: rotate(10deg);
      width: 100%;
      height: auto;
      filter: drop-shadow( 0px 10px 10px rgba(0,0,0,0.5));

    }
    .hero-details {
      padding-left: 20px;
    
    }
  
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 600px) {
  .container{
    display: block;
  }
    
}

