.item-card{

   display: flex;
    padding: 10px;
    
   
}

.card{
    border-radius: 35px 35px 10px 10px;
    margin-top: 50px; 
     
    
}

.card img{
    width: 600px;
    height: auto;
}

.card-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-text{
    font-size: 50px;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 10px;
}

.price button {
    width: 120px;
    border-radius: 25px;
    border: none;
    padding: 10px;
    font-size: 28px;

}