.item-card{
   background-color: #FBF8F1;
   display: flex;
    padding: 10px;
   
}

.card{
    border-radius: 35px 35px 10px 10px;
    margin-top: 50px;    
}

.card img{
    width: 350px;
}

.card-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.price button {
    width: 100px;
    border-radius: 15px;
    border: none;
    padding: 5px;
}