.information-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FAF1D2;
    margin-top: 10em;
    height: 30em;
}

.info-content{
    display: flex;
    align-items: center;
    padding: 20px;

}

.info-content img{
    width: 80px;
}

.info-content span {
    background-color: #FFCA41;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-one{
    
}

.col-one .info-content p{
    padding-left: 20px;
    font-size: 28px;
}

.col-two img{
    width: 30em;
}

.col-three p{
    padding-left: 20px;
    font-size: 28px;
}