.nav-container {
    position: fixed;
    top: 0;
    position: fixed;
    font-family: "Poppins", sans-serif;
}
.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding: 10px;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.nav-link{
  margin: 0 25px;
  text-decoration: none;
  color:#153D3D
}

.subscribe-btn{
  width: 125px;  
  height: 35px;
  border-radius: 1rem;
  background-color:#153D3D;
  color:#FBF8F1 ;
  border: none;
}


.logo {
    width: 40px;
}


