nav .nav-container {
    position: fixed;

}
.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    top:0;
    width: 100%;
    background-color: #FBF8F1;
    z-index: 99999999;

}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    font-family: 'Ano-Regular';
}

.nav-link{
  margin: 0 25px;
  text-decoration: none;
  color:#153D3D;
  font-size: 24px;
}

.subscribe-btn{
  width: 145px;  
  height: 45px;
  border-radius: 1.5rem;
  background-color:#153D3D;
  color:#FBF8F1 ;
  border: none;
  font-family: 'Ano-Regular';
}


.logo {
    width: 70px;
}


