footer{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    width: 100vw;
}


.form-header{
    display: flex;
}

.form-header h3{
 font-size: 28px;
 color: #153D3D;
 width: 350px;
}

.footer-form img{
    width: 70px;
    height: auto;
    padding-right: 10px;

}

.footer-form button {
  height: 40px;
  margin-top: 5px;
  border-radius: 1.6rem;
  background-color:#153D3D;
  color:#FBF8F1 ;
  border: none;
}

.footer-form input {
    height: 40px;
    padding: 10px;
    border-radius: 1.2rem; 
}

.form-input{
    display: block;
    width: 100px;
    padding-top: 20px;
}

.form-input input{
   width: 300px; 
}

.form-input button{
    width: 300px;
    margin-top: 20px;
    font-size: 18px;
}

.social-logos {
    display: flex;
}

.social-logos img{
    width: 50px;
    height: auto;
    padding: 10px;
}

.footer-flavor {
    padding-left: 20px;
}

.footer-flavor ul li{
    list-style: none;
    padding-top: 5px;
    font-size: 18px;
}

.footer-flavor a {
    text-decoration: none;
    color: #153D3D; 
}

.footer-flavor h3{
    color: #153D3D; 
    font-size: 32px;
}

.footer-info h3{
    font-size: 32px;
    color: #153D3D; 
}

.footer-socials h3{
    font-size: 32px;
    color: #153D3D; 
}

.info-link {
    list-style: none;
    
}

.info-link .i-link {
    text-decoration: none;
    color: #153D3D; 
    font-family: 'Ano-Regular';
    

}

@media screen and (max-width: 425px){
    footer{
        flex-direction: column;
    }
}