footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 5px 20px;
    margin: 20px 35px;
}


.form-header{
    display: flex;
}

.form-header h3{
 width: 200px;
}

.footer-form img{
    width: 50px;
    padding-right: 10px;

}

.footer-form button {
  width: 200px;  
  height: 30px;
  margin-top: 5px;
  border-radius: 1.6rem;
  background-color:#153D3D;
  color:#FBF8F1 ;
  border: none;
}

.footer-form input {
    height: 30px;
    width: 200px;
    padding: 10px;
    border-radius: 1.2rem; 
}

.form-input{
    display: block;
    width: 100px;
    padding-top: 20px;
}

.form-input input{
   width: 300px; 
}

.form-input button{
    width: 300px;
    margin-top: 20px;
}

.social-logos {
    display: flex;
}

.social-logos img{
    width: 50px;
    padding: 10px;
}

.footer-flavor {
    padding-left: 20px;
}

.footer-flavor ul li{
    list-style: none;
    padding-top: 5px;
}

.footer-flavor a {
    text-decoration: none;
    color: #153D3D;
    
}