

/* defining a local font Windsor from http://www.cufonfonts.com */
    @font-face {
    font-family: 'WindsorEF-UltraHeavy';
    font-style: normal;
    font-weight: normal;
    src: local('WindsorEF-UltraHeavy'), url('/src/assets/fonts/windsoref/windsoref-extraboldcondensed.woff') format('woff');
    }

    @font-face {
    font-family: 'WindsorEF-ExtraBoldCondensed';
    font-style: normal;
    font-weight: normal;
    src: local('WindsorEF-ExtraBoldCondensed'), url('/src/assets/fonts/windsoref/windsoref-extraboldcondensed.woff') format('woff');
    }


/* defining a local font Ano Regular from http://www.freefonts.co */
    @font-face {
        font-family: 'Ano-regular';
        font-style: normal;
        font-weight: normal;
        src: local('Ano-Regular'),url('assets/fonts/Ano-Regular/Ano-Regular.otf');
    }



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    
}
p{
    font-family: 'Ano-Regular';
    line-height: 1.5;
}

button {
    font-family: 'Ano-Regular';
}
h1,h2,h3{
        font-family: 'WindsorEF-ExtraBoldCondensed', Arial, sans-serif;
        color: #153D3D;
}

/*this is for ItemCard Component*/
.main-item-card{
    display: flex;
    flex-wrap: wrap;
}

.main-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

html,body{
    width: 100%;
   
}
@media screen and (max-width: 1054px){
      .main-item-card{
            grid-auto-columns: 70%;
      }

}